@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  background-color: white;
  color: black;
  font-family: 'Courier New', Courier, monospace;
}

::selection {
  background: black;
  color: white;
}

